body {
  margin: 0;
  background-color: #111;
  padding: 14px;
  font-family: sans-serif;
}

canvas {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #000;
}
.gameBody{
 display: flex; 
 flex-direction: column;
 gap:24px;
align-items: center; 
}


.create_button{
  background-color:  #344e41;
  padding: 10px 12px;
  border-radius:12px;
  color:#fff;
  font-size: 18px;
  border:2px solid #fff;
  cursor: pointer;
}
.title{
  font-size: 44px;
  font-weight: 600;
  color:#fff;
}


.link_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:12px;
  color:#fff;
  font-size: 18px;
}

.link{
  padding: 8px 12px;
  border-radius:12px ;
  font-size: 20px;
  max-width: 500px;
  overflow-x: auto;
  color:#fff;
  background-color: #3a5a40;

}







